<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="connStr" value="Data Source=.;Initial Catalog=Cloudflare;User id=sa;Password=123456;" />
    <add key="zoneId" value="2068c8964a4dcef78ee5103471a8db03" />
    <add key="authEmail" value="elei.xu@comm100.com" />
    <add key="authKey" value="1e26ac28b9837821af730e70163f0604b4c35" />
    <add key="sample" value="1" />
    <add key="timeSpan" value="30" />
    <add key="taskCount" value="5" />
    <add key="resultSaveDb" value="false" />
    <add key="UpdateRateLimitForCloundflare" value="false" />

    <add key="showAutoRunCheckBox" value="false" />
    <add key="showAutoBanCheckBox" value="false" />
    <add key="showUnbanButton" value="false" />
    <add key="showWhitelistButton" value="false" />
    <add key="showSettingsButton" value="false" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>